*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}

body{
    /* background-color: grey; */
    font-family: 'Raleway', sans-serif;
}

                        /* BANNER */
.banner{
    background-image: url("../img/houses/banner1house.png");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    padding: 3rem 3.69rem;
    height: 32rem;
}

header{
    display: flex;
    justify-content: space-between;
}

.nav_bar{
    width: 25rem;
}
.nav_bar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.nav_bar a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.nav_bar li{
    text-align: center;
}
.banner_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-top: 10rem;
}
.banner_content span{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
.banner_content p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 3rem;
}

.search_box{
/* margin-top: 3rem; */
display: flex;
/* justify-content: ; */
}
.search_box select{
    width: 12rem;
    padding: 0.63rem;
    text-transform: capitalize;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#status{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search_box select:hover{
    cursor: pointer;
}
.search_box button{
    width: 8rem;
    padding: 0.63rem;
    background-color: #7DBA21;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.search_box button:hover{
    cursor: pointer;
}

                            /* FEATURED PROPERTY  */

.featured_properties{
    padding: 3rem 3.69rem;
    background-color: #fff;
    width: 100%;
    text-align: center;
}
.featured_properties title{
    display: flex;
    justify-content: center;
    
}
.featured_properties .title{
    font-size: 28px;
    padding-bottom: 0.63rem;
}

.featured_properties hr{
    border: 2px solid #7DBA21;
    width: 120px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.property_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding: 1rem
}

.property img{
    width: 21.8rem;
    height: 16.31rem;
}
.property a{
    text-decoration: none;
}

.view_btn_container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-left: 3.5rem */
}

.view-btn{
    width: 8rem;
    padding: 0.63rem;
    background-color: #7DBA21;
    color: #fff;
    border-radius: 15px;
    font-size: 18px;
    text-transform: capitalize;
}
.view-btn a{
    text-decoration: none;
    color: white;

}
.view-btn:hover{
    cursor: pointer;
}

                        /* REGISTRATION PAGE */
.register{
    /* background-image: url("../img/houses/pixasquare-622732-unsplash.jpg"); */
    background-color: #dbfbc3;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    /* padding: 1.69rem 5.63rem; */
    height: 60rem;
    justify-content: center;
    align-items: center;
}
.register_content{
    width: 39.94rem;
    height: 39.68rem;
    background-color: rgba(0,0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register_content h1{
    text-transform: capitalize;
    font-size: 50px;
    width: 25.6rem;
}
.register_content p{
    width: 19.6rem;
    font-size: 24px;
    margin-top: 0.63rem;
    margin-right: 5.5rem;
}
                /* FORM STYLNG */
.register_form{
    padding: 2rem;
    width: 25.44rem;
    height: 39.68rem;
    background: white;
}

.register_form h2 {
    width: 21.24rem; 
}
.register_form hr{
    border: 2px solid #7DBA21;
    border-radius: 3px;
    width: 6rem;
    margin-bottom: 10px;
}

input[type= "text"], input[type= "password"],input[type= "email"], input[type= "password"]{
    width: 21.24rem;
    height: 2.81rem;
    background-color: #C4C4C4;
    border: 0;
    margin-bottom: 0.63rem;
    padding: 10px;
}

.register_form input[type="submit"]{
    width: 21.24rem;
    height: 2.81rem;
    background-color: #7DBA21;
    margin: 0.63rem 0;
    border: 0;
    color: #fff;
}

.register_form input[type="submit"]:hover{
    cursor: pointer;
    /* width: 21.99rem; */
    font-size: 14px;
    font-weight: bold;
}

.register_form p{
    font-size: 14px;
}

                /* HOW IT WORKS */

.how_it_works{
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3.69rem;
}

.how_it_works .title{
    font-size: 28px;
    padding-bottom: 0.63rem;
    font-weight: bold;
} 
.how_it_works .title hr{
    border: 2px solid #7DBA21;
    width: 120px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.how_it_works p{
    font-size: 22px;
    padding-bottom: 0.63rem;
    
}

.how_it_works ul{
    list-style-image: url("../img/icons/Groupbullet.svg");
}
.how_it_works li{
    font-size: 18px;
    margin-bottom: 10px;
}

 .how_it_works_img{
     margin-top: 0.63rem;
 }
                /* SIGN IN */
.sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/houses/marion-michele-770316-unsplash.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;

}

.signin_form{
    background-color: transparent;
    padding: 2rem;
    width: 25.44rem;
}

.signin_form input[type="email"], .signin_form input[type="password"]{
    background-color: #fff;
    padding: 10px;
}
.signin_form input[type="submit"]{
    width: 21.24rem;
    height: 2.81rem;
    background-color: transparent;
    margin: 0.63rem 0;
    border: 2px solid #fff;
    color: #7DBA21;
    font-weight: bold;
    
}
.signin_form input[type="submit"]:hover{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: #7DBA21;
    color: #fff;
    border: none;
}

                        /* FOOTER */
footer{
    background-color: #7DBA21;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 3.69rem;
    /* width: 50rem;  */
}
footer .logo, .footer_content{
    width: 15rem;
}
footer .logo{
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}

.footer_links ul, .contact_us p, .about_us p{
    margin-top: 0.63rem;
}

.footer_links ul{
    list-style: none;
}

.contact_us span{
    margin-right: 0.63rem;
}